html{
    /* font-size: 10px; */
    font-size: 62.5%;
}

.parent{
    border: 2px solid black;
    /* width: 50%; */
    /* width: 40vw; */
    /* height: 200vh; */
    /* width: 40px; */
}

.children{
    border: 1px solid red;
    /* width: 50%; */
    /* width: 60vw; */
    font-size: 10px;
}

.head{
    /* font-size: 40px; */
    /* font-size: 4em; */
    font-size: 2rem;
}